# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/
docs/
BuildInstaller.sh
BuildInstaller.bat

# XCode 
Antic_Engine.build/
Antic_Engine.xcodeproj/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
