[submodule "submodules/Antic_Graph"]
	path = submodules/Antic_Graph
	url = https://github.com/shanesatterfield/Antic_Graph.git
[submodule "submodules/tmxparser"]
	path = submodules/tmxparser
	url = https://github.com/shanesatterfield/tmxparser.git
